<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snapking"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/roundlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnapKing">


        <activity android:name=".MainActivity"
            android:exported="true" android:screenOrientation="locked">

            <!--Inside this activity you should be having below code for
                intent filter which will check the default activity-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.snapking.AmigosActivity"
            android:exported="false" android:screenOrientation="locked"/>
        <activity
            android:name="com.example.snapking.RegistroActivity"
            android:exported="false" android:screenOrientation="locked"/>
        <activity
            android:name="com.example.snapking.GanadorActivity"
            android:exported="false" android:screenOrientation="locked"/>
        <activity
            android:name="com.example.snapking.TematicaActivity"
            android:exported="false" android:screenOrientation="locked"/>
        <activity
            android:name="com.example.snapking.VotacionActivity"
            android:exported="false" android:screenOrientation="locked"/>
        <activity
            android:name="com.example.snapking.LobbyActivity"
            android:exported="false"android:screenOrientation="locked"/>

        <activity
            android:name="com.example.snapking.PrincipalActivity"
            android:exported="false" android:parentActivityName="com.example.snapking.AmigosActivity" android:screenOrientation="locked"/>
    </application>

</manifest>